@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@font-face {
  font-family: 'MyFont';
  src: url('../fonts/Benzin-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'gotham pro';
  src: url('../fonts/Gotham-Medium.otf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Benzin-Regular-☞';
  src: url('../fonts/Benzin-Medium.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%; 
  width: 100%; 
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

section {
  width: 595px;
  height: 842px;
  position: fixed; /* Ensure the container is fixed */
  overflow: hidden; /* Prevent content from overflowing */
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  background: white;
}

.a {
  width: 100%;
  height: 100%;
  position: relative;
  background: linear-gradient(
    180deg,
    rgba(224, 224, 224, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  min-width: 595px;
  min-height: 842px;
  will-change: transform, opacity;
}

.a .bez-znakov {
  position: absolute;
  top: 448px;
  left: 297px;
  width: 298px;
  height: 394px;
  aspect-ratio: 1;
  object-fit: cover;
}

.a .text-wrapper {
  color: #000000;
  position: absolute;
  top: 55px;
  left: 50px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-blend-mode: difference;
  font-family: 'MyFont', sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 2.80px;
  line-height: 15.5px;
  white-space: nowrap;
  will-change: transform, opacity;
}

.a .group {
  position: absolute;
  width: 414px;
  height: 56px;
  top: 74px;
  left: 49px;
  display: flex;
}

.a .div {
  width: 500px;
  height: auto;
  position: relative;
}

.a .p {
  position: relative;
  width: 100%;
  height: auto;
  display: block;
  font-family: "Gotham Pro-Medium", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 10px;
  letter-spacing: 0.30px;
  line-height: 1.5;
  text-align: left;
  white-space: normal;
  margin: 0;
  padding: 0;
}

.a .span {
  font-weight: 500;
  color: #ffffff;
  background-color: #000000;
  letter-spacing: 0.03px;
  padding: 2px 4px;
  margin-right: 4px;
  white-space: nowrap;
}

.a .text-wrapper-2 {
  font-weight: 500;
  color: #171717;
  letter-spacing: 0.03px;
}

.a .text-wrapper-3 {
  font-family: "Gotham Pro-Regular", Helvetica;
  color: #000000;
  letter-spacing: 0.03px;
  display: inline;
  white-space: normal;
}

.a .text-wrapper-4 {
  position: absolute;
  top: 402px;
  left: 50px;
  width: 481px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-blend-mode: difference;
  font-family: 'MyFont', sans-serif;
  font-weight: 500;
  color:#000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: 26.2px;
  will-change: transform, opacity;
}

.a .text-wrapper-5 {
  position: absolute;
  top: 467px;
  left: 50px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Gotham Pro-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 16.4px;
  white-space: nowrap;
  will-change: transform, opacity;
}

.a .text-wrapper-6 {
  position: absolute;
  top: 823px;
  left: 448px;
  height: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Gotham Pro-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff2e;
  font-size: 11px;
  letter-spacing: 0;
  line-height: 9.0px;
  white-space: nowrap;
}

.a .img {
  position: absolute;
  top: 562px;
  left: 266px;
  width: 143px;
  height: 280px;
  aspect-ratio: 0.5;
}

.a .bez-znakov-2 {
  position: absolute;
  top: 678px;
  left: 184px;
  width: 84px;
  height: 164px;
  aspect-ratio: 0.5;
}

.a .bez-znakov-3 {
  position: absolute;
  top: 742px;
  left: 133px;
  width: 52px;
  height: 100px;
  aspect-ratio: 0.5;
}

.a .text-wrapper-7 {
  position: absolute;
  top: 775px;
  left: 52px;
  width: 48px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
font-family: 'benzin-regular-☞', sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 9.8px;
}

.a .group-2 {
  position: absolute;
  top: 506px;
  left: 50%;
  transform: translateX(-50%);
  width: 113px;
  height: 34px;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font-family: inherit;
  text-align: left;
}

.a .rectangle-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  border-radius: 4px;
  pointer-events: none;
}

.a .text-wrapper-8 {
  position: absolute;
  top: 7px;
  left: 11px;
  font-family: "Inter-Bold", Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: normal;
  white-space: nowrap;
  text-transform: uppercase;
  pointer-events: none;
}

.a .polygon {
  position: absolute;
  top: 10px;
  right: 11px;
  width: 11px;
  height: 13px;
  pointer-events: none;
}

.a .group-2:focus {
  outline: 2px solid rgba(255, 255, 255, 0.5);
  outline-offset: 2px;
}

@media (max-width: 420px) {

  .counter {
    left: 8px !important;
  }
  .a .img {
    left: px !important;
  }

  .a .text-wrapper-7{
    left: 96px !important;
    top: 784px !important;
  }
  .a .p{
    font-size: 10px !important;
    left: 50px !important;
  }

   .div .p{
    font-size: 9px !important;
    left: 75px !important;
  }

  .a .text-wrapper {
    left: 124px;

  }
  .a .text-wrapper-4 {
    width: 75% !important;
    left: 128px !important;
    max-width: 481px;
    max-height: 52px;
    align-items: center;
    justify-content: center;
    font-family: "Benzin-Bold", Helvetica;
    font-weight: 700;
    color: #000000; 
    letter-spacing: 0;
    line-height: 26.2px;
    font-size: 30px !important;
  }

  .a .text-wrapper-5 {
    left: 130px !important;
    font-size: 18px !important;
    max-width: 400px;
    max-height: 40px;
    align-items: center;
    justify-content: center;
    font-family: "Gotham Pro-Regular", Helvetica;
    font-weight: 400;
    color: #000000; 
    letter-spacing: 0;
    line-height: 16.4px;
  }
  .a .text-wrapper-6 {
    position: absolute;
    top: 823px;
    left: 403px;
    height: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Gotham Pro-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff2e;
    font-size: 8px;
    letter-spacing: 0;
    line-height: 9.0px;
    white-space: nowrap;
}

  .a .bez-znakov {
      position: absolute;
      left: 295px;
      top: 569px;
      width: 183px;
      height: 242px;
  }
  
  .a .img {
    position: absolute;
    left: 280px;
    top: 627px;
    width: 85px;
    height: 184px;
  }
  
  .a .bez-znakov-2 {
    position: absolute;
    left: 222px;
    top: 691px;
    width: 60px;
    height: 120px;
  }
  
  .a .bez-znakov-3 {
    position: absolute;
    left: 171px;
    top: 712px;
  }
  
  .wrapper {
    padding-left: 5px !important;
    gap: 5px !important;
  }

  .wrapper img {
    height: 60px !important; /* yanada kichrayadi */
  }
  .a .text-wrapper-7{
    left: 116px !important;
    top: 751px !important;
  }
}