@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.page-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
  overflow: hidden;
}

.a {
  background: linear-gradient(
    180deg,
    rgba(224, 224, 224, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  width: 595px;
  height: 842px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.a .bez-znakov {
  position: absolute;
  top: 448px;
  left: 297px;
  width: 298px;
  height: 394px;
  aspect-ratio: 1;
  object-fit: cover;
}

.a .text-wrapper {
  top: 55px;
  left: 50px;
  height: 16px;
  text-shadow: 0px 0px 0px #000000;
  background-blend-mode: difference;
  font-family: "Benzin-Bold-", Helvetica;
  color: #000000;
  font-size: 14px;
  letter-spacing: 2.80px;
  line-height: 15.5px;
  white-space: nowrap;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.a .group {
  position: absolute;
  width: 414px;
  height: auto;
  top: 74px;
  left: 49px;
  display: flex;
}

.a .group-2 {
  width: 100%;
  height: auto;
  position: relative;
}

.a .div {
  width: 416px;
  height: 56px;
  position: relative;
}

.a .rectangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 138px;
  height: 11px;
  background-color: #000000;
}

.a .p {
  position: relative;
  width: 100%;
  display: block;
  font-family: "Gotham Pro-Medium", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 10px;
  letter-spacing: 0.30px;
  line-height: 1.5;
  text-align: left;
  white-space: normal;
  margin: 0;
  padding: 0;
}

.a .span {
  font-weight: 500;
  color: #ffffff;
  background-color: #000000;
  letter-spacing: 0.03px;
  padding: 2px 4px;
  margin-right: 4px;
  white-space: nowrap;
}

.a .text-wrapper-2 {
  font-weight: 500;
  color: #171717;
  letter-spacing: 0.03px;
}

.a .text-wrapper-3 {
  font-family: "Gotham Pro-Regular", Helvetica;
  color: #000000;
  letter-spacing: 0.03px;
  display: inline;
  white-space: normal;
}

.a .text-wrapper-4 {
  top: 402px;
  left: 50px;
  width: 481px;
  height: 52px;
  background-blend-mode: difference;
  font-family: "Benzin-Bold-", Helvetica;
  font-weight: bold;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: 26.2px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.a .text-wrapper-5 {
  top: 459px;
  left: 50px;
  height: 32px;
  font-family: "Gotham Pro-Regular", Helvetica;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 16.4px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
}

.a .text-wrapper-6 {
  position: absolute;
  top: 823px;
  left: 448px;
  height: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Gotham Pro-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff2e;
  font-size: 11px;
  letter-spacing: 0;
  line-height: 9.0px;
  white-space: nowrap;
}

.a .img {
  position: absolute;
  top: 562px;
  left: 266px;
  width: 143px;
  height: 280px;
  aspect-ratio: 0.5;
}

.a .bez-znakov-2 {
  position: absolute;
  top: 678px;
  left: 184px;
  width: 84px;
  height: 164px;
  aspect-ratio: 0.5;
}

.a .bez-znakov-3 {
  position: absolute;
  top: 742px;
  left: 133px;
  width: 52px;
  height: 100px;
  aspect-ratio: 0.5;
}
