@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

section {
  width: 595px;
  height: 842px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  background: white;
}

.a {
  width: 100%;
  height: 100%;
  position: relative;
  background: linear-gradient(
    180deg,
    rgba(224, 224, 224, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  overflow: hidden;
}

/* Base text styles */
.text-wrapper {
  position: absolute;
  top: 55px;
  left: 50px;
  font-family: "Benzin-Bold-☞", Helvetica;
  font-weight: bold;
  color: #000000;
  font-size: 14px;
  letter-spacing: 2.80px;
  line-height: 15.5px;
  white-space: nowrap;
}

.a .div {
  position: absolute;
  top: 123px;
  left: 49px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-blend-mode: difference;
  font-family: "Benzin-Bold-☞", Helvetica;
  font-weight: bold;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: 35.5px;
  white-space: nowrap;
}

.a .group {
  position: absolute;
  width: 500px;
  top: 74px;
  left: 49px;
  display: flex;
}

.a .group-2 {
  width: 100%;
  position: relative;
}

.a .rectangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 138px;
  height: 11px;
  background-color: #000000;
}

.a .rectangle-2 {
  position: absolute;
  top: 124px;
  left: 1px;
  width: 386px;
  height: 16px;
  background-color: #000000;
}

.a .p {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Gotham Pro-Medium", Helvetica;
  font-size: 10px;
  line-height: 1.5;
  color: #000000;
  text-align: left;
}

.a .span {
  background-color: #000000;
  color: #ffffff;
  padding: 2px 4px;
  margin-right: 4px;
  font-weight: 500;
  white-space: nowrap;
}

.a .text-wrapper-2 {
  font-weight: 500;
  color: #171717;
  letter-spacing: 0.03px;
}

.a .text-wrapper-3 {
  font-family: "Gotham Pro-Regular", Helvetica;
  display: inline;
  white-space: normal;
}

.a .text-wrapper-4 {
  position: absolute;
  top: 775px;
  left: 52px;
  width: 48px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Benzin-Regular-☞", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 9.8px;
}

.a .text-wrapper-5 {
  position: absolute;
  top: 159px;
  left: 50px;
  width: 500px;
  text-align: left;
  font-family: "Gotham Pro-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.a .text-wrapper-6 {
  position: absolute;
  top: 199px;
  left: 51px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Gotham Pro-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 15.5px;
  white-space: nowrap;
}

.a .pam {
  position: absolute;
  top: 255px;
  left: 110px;
  width: 415px;
  height: 415px;
  aspect-ratio: 1;
  object-fit: cover;
}

.a .group-3 {
  position: absolute;
  top: 650px;
  left: 52px;
  width: 221px;
  height: 100px;
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.a .text-wrapper-7 {
  text-align: left;
  font-family: "Gotham Pro-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 18px;
  margin: 0;
  padding: 0;
  width: 100%;
}

.a .group-4 {
  width: 75px;
  height: 15px;
  position: relative;
}

.a .rectangle-3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 73px;
  height: 15px;
  background-color: #000000;
}

.a .text-wrapper-8 {
  position: absolute;
  top: 5px;
  left: 4px;
  width: 66px;
  height: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Benzin-Bold-☞", Helvetica;
  font-weight: bold;
  color: #ffffff;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 11.2px;
  white-space: nowrap;
}

.a .element {
  position: absolute;
  top: 679px;
  left: 52px;
  width: 300px;
  text-align: left;
  font-family: "Benzin-Regular-☞", Helvetica;
  font-size: 10px;
  line-height: 1.5;
  color: #000000;
  margin: 0;
  padding: 0;
}

.a .line {
  position: absolute;
  top: 420px;
  left: 296px;
  width: 156px;
  height: 57px;
}

.a .img {
  position: absolute;
  top: 603px;
  left: 411px;
  width: 140px;
  height: 18px;
}

.a .line-2 {
  position: absolute;
  top: 502px;
  left: 360px;
  width: 168px;
  height: 28px;
}

.a .text-wrapper-9 {
  position: absolute;
  top: 408px;
  left: 363px;
  height: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Benzin-Bold-☞", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 13.4px;
  white-space: nowrap;
}

.a .text-wrapper-10 {
  position: absolute;
  top: 597px;
  left: 452px;
  height: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Benzin-Bold-☞", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 13.4px;
  white-space: nowrap;
}

.a .text-wrapper-11 {
  position: absolute;
  top: 487px;
  left: 382px;
  height: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Benzin-Bold-☞", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 13.4px;
  white-space: nowrap;
}

.a .line-3 {
  position: absolute;
  top: 503px;
  left: 280px;
  width: 105px;
  height: 62px;
}

.a .text-wrapper-12 {
  position: absolute;
  top: 400px;
  left: 426px;
  height: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Benzin-Regular-☞", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 10px;
  letter-spacing: 0;
  line-height: 11.2px;
  white-space: nowrap;
}

.a .text-wrapper-13 {
  top: 479px;
  left: 515px;
  position: absolute;
  height: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Benzin-Regular-☞", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 10px;
  letter-spacing: 0;
  line-height: 11.2px;
  white-space: nowrap;
}

.a .text-wrapper-14 {
  top: 588px;
  left: 537px;
  position: absolute;
  height: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Benzin-Regular-☞", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 10px;
  letter-spacing: 0;
  line-height: 11.2px;
  white-space: nowrap;
}

.a .group-5 {
  position: absolute;
  top: 691px;
  left: 412px;
  width: 100px;
  height: 34px;
}

.a .rectangle-4 {
  position: absolute;
  top: 0;
  left: 48px;
  width: 48px;
  height: 34px;
  background-color: #222222;
}

.a .rectangle-5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 48px;
  height: 34px;
  background-color: #9c9c9c;
}

.a .text-wrapper-15 {
  cursor: pointer;
  position: absolute;
  top: 7px;
  left: 7px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.a .text-wrapper-16 {
  cursor: pointer;
  position: absolute;
  top: 7px;
  left: 59px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

@media (max-width: 420px) {
  .div{
    font-size: 24px;
    left: 30px !important;
  }

  .text-wrapper {
    font-size: 12px;
    left: 30px !important;
  }

  .p{
    left: -20px!important;
  }

  .text-wrapper-5{
    font-size: 12px;
    left: 30px !important;
    width: 340px !important;
  }

   .text-wrapper-6{
    font-size: 10px;
    left: 30px !important;
   top: 245px !important;
  }

  .rectangle-2{
    left: -20px !important;
    top: 170px !important;
  }

  .p{
    position: absolute;
  }

  .pam{
    left: -41px !important;
    margin-top: 40px;
  }

  .line{
    left: 160px !important;
    top: 470px !important;
  }
  .text-wrapper-9{
    left: 250px !important;
    top: 460px !important;
  }

  .text-wrapper-11{
    left: 260px !important;
    top: 540px !important;
  }

   .line-3{
    left: 150px !important;
    top: 550px !important;
  }

  .line-2{
    left: 230px !important;
    top: 550px !important;
  }

  .img{
    left: 240px !important;
  }

  .text-wrapper-10{
    left: 310px !important;
  }

  .group-3{
    margin-top: 25px;
  }

  .a .element{
  top: 700px !important;
  }

 .group-5{
  left: 270px !important;
 }

  

}