@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  font-family: Arial, sans-serif;
}

.a {
  background-color: #000000;
  width: 595px;
  height: 842px;
  position: relative;
  overflow: hidden;
}

.a .text-wrapper {
  position: absolute;
  top: 55px;
  left: 50px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0px 0px 0px #ffffff;
  background-blend-mode: difference;
  font-family: "Benzin-Bold-", Helvetica;
  font-weight: bold;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 2.80px;
  line-height: 15.5px;
  white-space: nowrap;
}

.a .div {
  position: absolute;
  top: 126px;
  left: 49px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0px 0px 0px #ffffff;
  background-blend-mode: difference;
  font-family: "Benzin-Bold-", Helvetica;
  font-weight: bold;
  color: #ffffff;
  font-size: 30px;
  letter-spacing: 0;
  line-height: 33.3px;
  white-space: nowrap;
}

.a .group {
  position: absolute;
  width: 414px;
  height: 147px;
  top: 74px;
  left: 49px;
  display: flex;
}

.a .group-2 {
  width: 416px;
  height: 147px;
  position: relative;
}

.a .p {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 413px;
  height: 55px;
  display: block;
  font-family: "Gotham Pro-Medium", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 10px;
  letter-spacing: 0.30px;
  line-height: 1.5;
  text-align: left;
  white-space: normal;
  margin: 0;
  padding: 0;
}

.a .span {
  font-weight: 500;
  color: #000000;
  background-color: #ffffff;
  letter-spacing: 0.03px;
  padding: 2px 4px;
  margin-right: 4px;
  white-space: nowrap;
}

.a .text-wrapper-3 {
  font-family: "Gotham Pro-Regular", Helvetica;
  color: #ffffff;
  letter-spacing: 0.03px;
  display: inline;
  white-space: normal;
}

.a .text-wrapper-4 {
  position: absolute;
  top: 775px;
  left: 52px;
  width: 48px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Benzin-Regular-", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 9.8px;
}

.a .text-wrapper-5 {
  position: absolute;
  top: 159px;
  left: 50px;
  width: 100%;
  text-align: left;
  font-family: "Gotham Pro-Regular", Helvetica;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 1.2;
  white-space: nowrap;
  margin: 0;
  padding: 0;
}

.a .text-wrapper-6 {
  position: absolute;
  top: 206px;
  left: 51px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Gotham Pro-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  background-color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 15.5px;
  white-space: nowrap;
}

.a .voennaya-kartinka {
  position: absolute;
  top: 250px;
  left: 84px;
  width: 172px;
  height: 172px;
  aspect-ratio: 1;
  object-fit: cover;
}

.a .img {
  position: absolute;
  top: 250px;
  left: 328px;
  width: 171px;
  height: 171px;
  aspect-ratio: 1;
  object-fit: cover;
}

.a .cvetok {
  position: absolute;
  top: 444px;
  left: 84px;
  width: 171px;
  height: 171px;
  aspect-ratio: 1;
  object-fit: cover;
}

.a .cvetok-x {
  position: absolute;
  top: 444px;
  left: 327px;
  width: 172px;
  height: 171px;
  aspect-ratio: 1;
  object-fit: cover;
}

.a .cvetok-2 {
  position: absolute;
  top: 615px;
  left: 328px;
  width: 171px;
  height: 171px;
  aspect-ratio: 1;
  object-fit: cover;
}

.a .voennaya-kartinka-2 {
  position: absolute;
  top: 628px;
  left: 98px;
  width: 145px;
  height: 145px;
  aspect-ratio: 1;
  object-fit: cover;
}

.a .group-3 {
  position: absolute;
  width: 291px;
  height: 177px;
  top: 441px;
  left: 146px;
}

.a .group-4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 15px;
}

.a .rectangle-3 {
  top: 0;
  left: 0;
  width: 47px;
  height: 15px;
  position: absolute;
  background-color: #ffffff;
}

.a .text-wrapper-7 {
  position: absolute;
  top: 5px;
  left: 4px;
  width: 44px;
  height: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Benzin-Bold-", Helvetica;
  font-weight: bold;
  color: #000000;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 11.2px;
  white-space: nowrap;
}

.a .group-5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 293px;
  height: 177px;
}

.a .rectangle-4 {
  top: 0;
  left: 243px;
  width: 47px;
  height: 15px;
  position: absolute;
  background-color: #ffffff;
}

.a .text-wrapper-8 {
  position: absolute;
  top: 5px;
  left: 247px;
  width: 44px;
  height: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Benzin-Bold-", Helvetica;
  font-weight: bold;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 11.2px;
  white-space: nowrap;
}

.a .group-6 {
  top: 162px;
  left: 0;
  position: absolute;
  width: 50px;
  height: 15px;
}

.a .group-7 {
  position: absolute;
  top: 785px;
  left: 146px;
  width: 50px;
  height: 15px;
}

.a .group-8 {
  position: absolute;
  top: 785px;
  left: 388px;
  width: 50px;
  height: 15px;
}

.a .group-9 {
  top: 603px;
  left: 389px;
  position: absolute;
  width: 50px;
  height: 15px;
}

.a .rectangle-5 {
  top: 446px;
  left: 463px;
  width: 108px;
  height: 34px;
  position: absolute;
  background-color: #ffffff;
}

.a .text-wrapper-9 {
  cursor: pointer;
  position: absolute;
  top: 453px;
  left: 480px;
  width: 74px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

@media (max-width: 420px){

  .text-wrapper{
    left: 20px !important
  }

  .p{
    left: -27px !important
  }

  .text-wrapper-4{
    left: 20px !important;
    top: 810px !important;
  }

  .voennaya-kartinka{
    left: 20px !important;
  }

  .cvetok{
    left: 20px !important;
  }

  .voennaya-kartinka-2{
    left: 20px !important;
  }

  .img{
    left: 230px !important;
  }

  .cvetok-x{
    left: 230px !important;
  }

  .cvetok-2{
    left: 230px !important;
  }

  .a .group-4 {
    left: -70px !important;
  }

  .a .rectangle-4{
    left: 134px !important;
  }

  .text-wrapper-8{
    left: 134px !important;
  }

  .a .group-6{
    left: -70px !important;
  }

  .a .group-9{
    left: 280px !important;
  }

  .a .group-7{
    left: 70px !important;
  }

  .a .group-8{
    left: 280px !important;
  }

 .a .text-wrapper-5{
    left: 20px !important;
  }

  .div{
    left: 20px !important;
  }

  .a .rectangle-5{
    left: 149px !important;
    top: 800px !important;
  }

   .text-wrapper-9{
    left: 165px !important;
    top: 810px !important;
  }

  .text-wrapper-6{
    left: 20px !important;
  }

}