@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");


@font-face {
  font-family: 'MyFont';
  src: url('../fonts/Benzin-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'gotham pro';
  src: url('../fonts/Gotham-Medium.otf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Benzin-Regular-☞';
  src: url('../fonts/Benzin-Medium.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  font-family: Arial, sans-serif;
}

.a {
  background-color: #000000;
  width: 595px;
  height: 842px;
  position: relative;
  overflow: hidden;
}

/* Text styles */
.text-wrapper {
  position: absolute;
  top: 55px;
  left: 50px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0px 0px 0px #ffffff;
  background-blend-mode: difference;
  font-family: 'MyFont', sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 2.80px;
  line-height: 15.5px;
  white-space: nowrap;
}

.div {
  position: absolute;
  top: 123px;
  left: 49px;
  height: 36px;
  text-shadow: 0px 0px 0px #ffffff;
  background-blend-mode: difference;
  font-family: 'MyFont', sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: 35.5px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}

.group {
  position: absolute;
  width: 414px;
  height: 56px;
  top: 74px;
  left: 49px;
  display: flex;
}

.group-2 {
  width: 100%;
  height: auto;
  position: relative;
}

.p {
  position: relative;
  width: 100%;
  display: block;
  font-family: "Gotham Pro-Medium", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 10px;
  letter-spacing: 0.30px;
  line-height: 1.5;
  text-align: left;
  white-space: normal;
  margin: 0;
  padding: 0;
}

.span {
  font-weight: 500;
  color: #000000;
  background-color: #ffffff;
  letter-spacing: 0.03px;
  padding: 2px 4px;
  margin-right: 4px;
  white-space: nowrap;
}

.text-wrapper-3 {
  font-family: "Gotham Pro-Regular", Helvetica;
  color: #ffffff;
  letter-spacing: 0.03px;
  display: inline;
  white-space: normal;
}

.a .text-wrapper-2 {
  font-weight: 500;
  color: #fff7f7;
  letter-spacing: 0.03px;
}

.a .text-wrapper-4 {
  position: absolute;
  top: 775px;
  left: 52px;
  width: 48px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
 font-family: 'benzin-regular-☞', sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 9.8px;
}

.a .text-wrapper-5 {
  position: absolute;
  top: 159px;
  left: 50px;
  width: 100%;
  text-align: left;
  font-family: "Gotham Pro-Regular", Helvetica;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 1.2;
  white-space: nowrap;
  margin: 0;
  padding: 0;
}

.a .text-wrapper-6 {
  position: absolute;
  top: 206px;
  left: 51px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Gotham Pro-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  background-color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 15.5px;
  white-space: nowrap;
  padding: 2px 8px;
  border-radius: 2px;
}

.a .am-x {
  position: absolute;
  top: 250px;
  left: 28px;
  width: 172px;
  height: 286px;
  aspect-ratio: 0.6;
  object-fit: cover;
}

.a .img {
  position: absolute;
  top: 250px;
  left: 200px;
  width: 172px;
  height: 286px;
  aspect-ratio: 0.6;
  object-fit: cover;
}

.a .am-x-2 {
  position: absolute;
  top: 250px;
  left: 383px;
  width: 172px;
  height: 286px;
  aspect-ratio: 0.6;
  object-fit: cover;
}

.a .am-x-3 {
  position: absolute;
  top: 550px;
  left: 52px;
  width: 125px;
  height: 209px;
  aspect-ratio: 0.6;
  object-fit: cover;
}

.a .am-x-4 {
  position: absolute;
  top: 544px;
  left: 220px;
  width: 133px;
  height: 221px;
  aspect-ratio: 0.6;
  object-fit: cover;
}

.a .am-x-5 {
  position: absolute;
  top: 536px;
  left: 392px;
  width: 155px;
  height: 258px;
  aspect-ratio: 0.6;
  object-fit: cover;
}

.a .group-3 {
  position: absolute;
  top: 550px;
  left: 90px;
  width: 50px;
  height: 15px;
}

.a .rectangle-3 {
  top: 0;
  left: 0;
  width: 47px;
  height: 15px;
  position: absolute;
  background-color: #ffffff;
}

.a .text-wrapper-7 {
  position: absolute;
  top: 5px;
  left: 4px;
  width: 44px;
  height: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'MyFont', sans-serif;
  font-weight: bold;
  color: #000000;
  font-size: 10px;
  letter-spacing: 0;
  line-height: 11.2px;
  white-space: nowrap;
}

.a .group-4 {
  position: absolute;
  top: 550px;
  left: 262px;
  width: 50px;
  height: 15px;
}

.a .group-5 {
  position: absolute;
  top: 550px;
  left: 445px;
  width: 50px;
  height: 15px;
}

.a .group-6 {
  position: absolute;
  top: 757px;
  left: 445px;
  width: 50px;
  height: 15px;
}

.a .group-7 {
  position: absolute;
  top: 757px;
  left: 90px;
  width: 222px;
  height: 15px;
}

.a .rectangle-4 {
  top: 0;
  left: 172px;
  width: 47px;
  height: 15px;
  position: absolute;
  background-color: #ffffff;
}

.a .text-wrapper-8 {
  position: absolute;
  top: 5px;
  left: 176px;
  width: 44px;
  height: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'MyFont', sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 10px;
  letter-spacing: 0;
  line-height: 11.2px;
  white-space: nowrap;
}

.a .group-8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 15px;
}

.a .rectangle-5 {
  top: 446px;
  left: 463px;
  width: 108px;
  height: 34px;
  position: absolute;
  background-color: #ffffff;
}

.a .text-wrapper-9 {
  cursor: pointer;
  position: absolute;
  top: 453px;
  left: 480px;
  width: 74px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: bold;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

@media (max-width: 420px) {
  .text-wrapper {
    left: 20px !important;
  }

  .group {
    left: 20px !important;
  }

  .text-wrapper-5 {
    left: 20px !important;
  }

  .div {
    left: 20px !important;
  }

  .text-wrapper-6 {
    left: 20px !important;
  }

  .am-x {
    left: -8px !important;
    height: 260px !important;
    width: 140px !important;
  }

  .img {
    left: 120px !important;
    height: 255px !important;
    width: 155px !important;
  }


  .am-x-2 {
    left: 260px !important;
    width: 155px !important;
    height: 240px !important;
  }

  .am-x-3 {
    left: 10px !important;
    height: 180px !important;
    width: 120px !important;
  }

  .am-x-4 {
    left: 155px !important;
    height: 190px !important;
    width: 125px !important;
  }

  .am-x-5 {
    left: 290px !important;
    height: 200px !important;
    width: 130px !important;
  }


  .group-3 {
    left: 45px !important;
    top: 520px !important;
  }

  .group-4 {
    top: 520px !important;
    left: 177px !important;
  }

  .group-5 {
    top: 515px !important;
    left: 315px !important;
  }

  .group-6 {
    top: 735px !important;
    left: 330px !important;
  }

  .group-7 {
    left: 35px !important;
    top: 735px !important;
  }

  .a .rectangle-5 {
    left: 299px !important;
    top: 456px !important;
  }

  .text-wrapper-9 {
    top: 464px !important;
    left: 315px !important;
  }
  .a .text-wrapper-7{
    font-size: 16px;
  }
  .a .text-wrapper-8{
    font-weight: bold;
    font-size: 16px;
  }
}
